body {
  font-family: Arial, sans-serif;
  text-align: center;
  /* background-color: #f0f8ff; */
  background-image: url('../public/pxfuel.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  color: #333;
}

p {
  color: #555;
}
